/* PC */
@media (min-width: 992px) {
}
/* Tablet & mobile */
/* @media (max-width: 991.98px) {
  .nav {
    padding: 0 3%;
  }
  .nav.scrolled .navbar a {
    padding: 2rem 2vw;
  }
  .nav.scrolled {
    transition: 0.3s;
    padding: 0 3%;
  }
} */
/* Tablet  */
@media (min-width: 768px) and (max-width: 991.98px) {
  .nav {
    padding: 1rem 5%;
  }
  .nav.scrolled .navbar a {
    font-size: 1.5rem;
    padding: 2rem 1vw;
  }
  .navbar a {
    font-size: 1.5rem;
    padding: 1rem 1.5vw;
  }
  .search:hover input {
    width: 4rem;
  }
  .footer {
    padding: 6% 5% 0;
  }
  .footer img {
    height: 10%;
  }
}
/* Mobile */
@media (max-width: 767.98px) {
  .nav {
    position: fixed;
    padding: 1rem 5%;
  }
  .nav.scrolled {
    padding: 1rem 5%;
  }
  .register {
    gap: 10px;
  }
  #menu-icon {
    display: block;
  }
  .header {
    display: none;
  }
  .nav .home {
    display: none;
  }
  #backtohome {
    display: block;
  }
  .nav.scrolled .navbar a {
    padding: 11px 25px;
  }
  .navbar {
    padding: 0 20px;
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--heading-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 2px;
    transition: all 0.5s ease;
  }
  .navbar a {
    color: #fff;
    font-weight: 400;
    display: block;
    transition: all 0.5s ease;
  }
  .navbar a:hover {
    color: #fff;
    font-weight: 600;
  }
  .navbar.open {
    right: 2%;
  }
  .main-category:hover .subnav {
    right: 100%;
    width: 150px;
    top: 0;
  }
  .subnav a {
    color: #000;
  }
  .subnav a:hover {
    font-weight: 600;
  }
  .search:hover input {
    width: 7rem;
  }
  .cmt-input {
    gap: 1rem;
  }
  .cmt-input .user-ava {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.5px solid #5f5b53;
  }
  .cmt-input .area {
    font-family: "Inter", sans-serif;
    line-height: 1;
    letter-spacing: 1px;
    padding: 1rem;
    width: 80%;
    height: 7rem;
    border: 1.5px solid #ccc; /* Viền xám */
    border-radius: 0.5rem; /* Bo góc */
    font-size: 1.4rem;
    color: #333;
    background-color: #f9f9f9;
    resize: none;
  }
  .comment-section .btn-sent {
    font-size: 1.4rem;
    width: 6rem;
    height: 3rem;
    border-radius: 0.5rem;
    font-weight: 400;
    cursor: pointer;
  }
}
