/* PC */
@media (min-width: 992px) {
}
/* Tablet & mobile */
@media (max-width: 991.98px) {
}
/* Tablet */
@media (min-width: 768px) and(max-width: 991.98px) {
}
/* Mobile */
@media (max-width: 767.98px) {
}
