* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: #000;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}
/* .btn {
  display: inline-block;
  padding: 0 16px;
  color: #df2127;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  border-radius: 999px;
  background: #efd7af;
  line-height: 50px;
  text-align: center;
  min-width: 118px;
}
.btn:hover {
  opacity: 0.9;
} */
/* ==============common========== */
a {
  text-decoration: none;
  color: var(--primary-color);
}
:root {
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);

  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
  --primary-color: #000;
  --font-heading: "Merriweather", "serif";
}
/* =============header============ */
.logo {
  width: 20rem;
  height: 3rem;
  object-fit: cover;
}
.header.fixed {
  z-index: 1;
  background-color: #fff;
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding-left: 8rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
}
/* ===========body================== */

.content {
  margin: 6.4rem 15rem;
}
.tag {
  margin-bottom: 1rem;
}
.header-content .tag strong {
  font-size: 1.6rem;
  line-height: 0.18;
  font-weight: 500;
}
.main-content {
  width: 100%;
}
.main-content .news-title {
  font-family: var(--font-heading);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem; /* 123.81% */
  letter-spacing: -0.2px;
}
.news-detail {
  margin-top: 1.2rem;
}
.news-detail strong {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6;
}
.news-detail p {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6; /* 22.4px */
}
.news-detail strong:nth-child(2) {
  margin-left: 32px;
}
.news-body {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8; /* 28.8px */
}
.news-body p {
  margin-bottom: 1rem;
}
img {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}
figcaption {
  font-size: 1.4rem;
  color: #5f5b53;
}
/* =================comment================ */
.comment-section {
  margin: 3rem 15rem;
}
.split-line {
  background-color: #e1e8f0;
  height: 1px;
  width: 100%;
}

.comment-section .title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 4rem; /* 123.81% */
  letter-spacing: -0.2px;
  padding-bottom: 3rem;
}
.cmt-input {
  display: flex;
  gap: 3rem;
}
.cmt-input .user-ava {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.5px solid #5f5b53;
}
.cmt-input .area {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 1rem;
  width: 80%;
  height: 10rem;
  border: 1.5px solid #ccc; /* Viền xám */
  border-radius: 0.5rem; /* Bo góc */
  font-size: 1.6rem;
  color: #333;
  background-color: #f9f9f9;
  resize: none;
}
.cmt-input .area:focus {
  outline: none; /* Bỏ viền xanh mặc định của trình duyệt */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Hiệu ứng đổ bóng */
}
.comment-section .btn-sent {
  font-size: 1.6rem;
  width: 10rem;
  height: 4rem;
  background-color: #262626;
  border-radius: 0.5rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.others-new {
  margin: 3rem 15rem;
}
.others-new .title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 1.6;
}
