* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}
.btn:hover {
  opacity: 0.9;
}
/* ==============common========== */
a {
  text-decoration: none;
  color: var(--primary-color);
}
:root {
  --heading-color: #325172;
  --primary-color: #000;
  --font-heading: "Merriweather", "serif";
}
/* ==============banner================ */
.header .banner {
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: auto;
  height: 10rem;
  position: relative;
}
.banner-logo {
  object-fit: cover;
  margin: 1rem;
  /* width: 50%;

  height: auto; */
}
.header .fixed {
  position: relative;
}
/* =============header============ */
.nav.scrolled {
  transition: 0.3s;
  padding: 0 3%;
}
.nav.scrolled .home {
  display: none;
}
.nav.scrolled #backtohome {
  display: block;
}
.nav {
  background-color: var(--heading-color);
  position: sticky;
  top: 0;
  width: 100%;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  transition: all 0.5s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng ở dưới */
}
i {
  color: #fff;
  font-size: 1.6rem;
  margin-right: 3px;
}
.dn-text {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  /* margin: 0px 3vw; */
  transition: all 0.5s ease;
  display: block;
}
.search i {
  color: var(--heading-color);
  font-size: 1.6rem;
  margin-right: 3px;
}
.navbar {
  display: flex;
}
.register {
  margin-left: auto;
  display: flex;
  gap: 2vw;
  align-items: center;
}
.navbar .category {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 2rem 2.5vw;
  /* margin: 0px 3vw; */
  transition: all 0.5s ease;
  display: block;
}
.navbar .subnav-link {
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 2rem 3vw;
  /* margin: 0px 3vw; */
  transition: all 0.5s ease;
  display: block;
}
.navbar a:hover {
  background: var(--heading-color);
  color: #fff;
  text-shadow: 0.3px 0 0 currentColor;
}
.subnav {
  display: none;
  position: absolute;
  /* width: 13vw; */
  background-color: rgba(231, 232, 231);
  top: 100%;
}
.subnav li {
  border-bottom: 1px solid #ccc; /* Đường kẻ màu xám */
}

/* Xóa border của mục cuối cùng để không có đường kẻ dưới cùng */
.subnav li:last-child {
  border-bottom: none;
}

.main-category:hover .subnav {
  display: block;
}
.register a:hover {
  /* color: var(--heading-color); */
  text-shadow: 0.5px 0 0 currentColor;
}
.logo {
  top: 0;
  height: 100%;
  max-width: 100%;
}
#backtohome {
  display: none;
  position: relative;
  height: 20px;
}
.logo {
  height: 100%; /* Chiều cao 100% của phần tử cha */
  width: auto; /* Đảm bảo không bị méo */
  max-height: 100%; /* Không vượt quá cha */
}
.search {
  background-color: #fff;
  display: flex;
  padding: 1rem;
  cursor: pointer;
  border-radius: 3rem;
  align-items: center;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}
.search:hover input {
  width: 15rem;
}
.search input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}
#menu-icon {
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 1001;
  display: none;
}
.notft {
  flex: 1;
}
/* ===========body================== */
.article {
  display: flex;
  flex-direction: row;
  margin: 6.4rem 5% 0 10%;
}
.content {
  flex: 3;
}
.tag {
  margin-bottom: 1rem;
}
.header-content .tag strong {
  font-size: 1.6rem;
  line-height: 0.18;
  font-weight: 500;
}
.content .main-content {
  width: 80%;
}
.main-content .news-title {
  font-family: var(--font-heading);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem; /* 123.81% */
  letter-spacing: -0.2px;
}
.news-detail {
  margin-top: 1.2rem;
}
.news-detail strong {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6;
}
.news-detail p {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6; /* 22.4px */
}
.news-detail strong:nth-child(2) {
  margin-left: 32px;
}
.news-body {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8; /* 28.8px */
}
.news-body p {
  margin-bottom: 1rem;
}
.news.pic1 {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}
figcaption {
  font-size: 1.4rem;
  color: #5f5b53;
}
/* ==============tin xem nhiều ==================*/
.most-view {
  flex: 1.5;
}
.most-view h3 {
  font-size: 1.6rem;
  width: fit-content;
  padding-bottom: 5px;
  font-family: var(--font-heading);
  border-bottom: solid 1px var(--heading-color);
  font-weight: 600;
}
.most-view img {
  width: 150px;
  height: 90px;
  object-fit: cover;
}
.news .n1 {
  padding-bottom: 20px;
  border-bottom: solid 0.5px #e1e8f0;
}
.news .n1 a {
  display: flex;
}
.most-view .news {
  width: 350px;
}
.news .title {
  padding-left: 10px;
  font-family: var(--font-heading);
}
.news {
  margin-top: 2rem;
}
/* =================comment================ */
.comment-section {
  margin: 3rem 10%;
}
.split-line {
  background-color: #e1e8f0;
  height: 0.5px;
  width: 100%;
}

.comment-section .title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 4rem; /* 123.81% */
  letter-spacing: -0.2px;
  padding-bottom: 3rem;
}
.cmt-input {
  display: flex;
  gap: 3rem;
}
.cmt-input .user-ava {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.5px solid #5f5b53;
}
.cmt-input .area {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 1rem;
  width: 80%;
  height: 10rem;
  border: 1.5px solid #ccc; /* Viền xám */
  border-radius: 0.5rem; /* Bo góc */
  font-size: 1.6rem;
  color: #333;
  background-color: #f9f9f9;
  resize: none;
}
.cmt-input .area:focus {
  outline: none; /* Bỏ viền xanh mặc định của trình duyệt */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Hiệu ứng đổ bóng */
}
.comment-section .btn-sent {
  font-size: 1.6rem;
  width: 10rem;
  height: 4rem;
  background-color: var(--heading-color);
  border-radius: 0.5rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.others-new {
  margin: 3rem 15rem;
}
.others-new .title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 1.6;
}
/* =================== footer ================ */

footer {
  width: 100%;
  background: var(--heading-color);
  padding: 6% 10% 0;
}
.footer img {
  width: auto;
  height: 20%;
  object-fit: cover;
}
.footer .row {
  padding-bottom: 38px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
}

.footer .row .column {
  width: 21.6%;
}

.footer .row .column:first-child {
  width: 35%;
}

.footer .desc {
  margin-top: 15px;
  max-width: 267px;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.86;
}

.footer .social {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}

.footer .title {
  padding-bottom: 14px;
  padding-right: 48px;
  display: inline-block;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer .list {
  margin-top: 28px;
}

.footer .list a {
  display: inline-block;
  margin-bottom: 12px;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.86;
}
.footer .list a:hover {
  font-weight: 800;
}
.footer .list li:last-child a {
  margin-bottom: 0;
}

.footer .list strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
}

.footer .copyright {
  padding: 28px 0;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.86;
}
