


/* PC */

@media(min-width: 992px){
    .main .main-search .mobile-header{
        display: none;
    }
}

/* Tablet & moblie */

@media (max-width: 991.98px) {
    .main-search{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
    }
    .main .main-search .s-body .l-s-body {
        /* display: none; */
        width: 100%;
        height: fit-content;
        margin-bottom: 20px;
    }
    .main .main-search .s-body .l-s-body .l-s-body-header {
        font-size: 0.9rem;
        height: fit-content;
        margin: 0;
        display: none;
    }
    .main .main-search .s-body .l-s-body .filter{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    
    .main .main-search .s-body .l-s-body .filter .inner {
        list-style: none;
        margin: 0;
        /* padding: 0; */
        /* padding-top: 3%; */
        /* height: 100%; */
        width: 30%;
        margin: 5 0 5 0;
      }
    .main .main-search .s-header{
        position: absolute;
        left: 0%;
    }
    .main .main-search .s-body{
        position: absolute;
        margin-left: 0;
        width: 100%;
        left: 0%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        top: 7%;
    }
    .main .main-search .s-body .l-s-body .button-filter button{
        width: 40%;
    }
    .main .main-search .s-body .r-s-body .r-s-body-button {
        display: flex;
        width: 30%;
        height: 2rem;
        /* justify-content: space-between; */
        margin: 1.5rem 0 2rem 0;
    }
    .main .main-search .s-body .r-s-body .r-s-body-content .rsbc .rsbc-image {
        width: 25%;
    }
    .main .main-search .s-body .r-s-body .feedback {
        margin: 0;
        font-style: italic;
        font-size: 0.9rem;
    }
}

/* Tablet */
@media(min-width: 768px) and (max-width: 991.98px){
    .main .main-search .s-body .r-s-body{
        margin-left: 0;
        width: 100%;
    }
    .main .main-search .s-body .r-s-body .r-s-body-content .rsbc {
        display: flex;
        border-bottom: 0.1rem solid #b8c2ce;
        /* padding-bottom: 3%; */
        height: 8rem;
        margin-bottom: 1.5rem;
    }
    .main .main-search .mobile-header{
        width: 15%;
        height: 50px;
    }
    .main .main-search .mobile-header .filter-header i{
        padding-right: 10px;
    }
    .main .main-search .s-body{
        top: 8%;
    }
    .main .main-search .s-body .r-s-body{
        padding-top: 1.5rem;
    }
}

/* Mobile */
@media(max-width: 767.98px){
    .main-search{
        width: 100%;
        /* display: flex;
        justify-content: flex-start;
        align-items: flex-start; */
    }
    .main .main-search .s-header .header1 h1{
        font-size: 0.8rem;
    }
    .main .main-search .s-header .header1 .sub-header1{
        display: none;
    }
    .main .main-search .s-header .header2 h1{
        font-size: 1.125rem;
    }
    .main .main-search .s-header .header3 h3{
        font-size: 0.8rem;
        margin-top: 2px;
    }
    .main .main-search .mobile-header{
        top: 4%;
        margin-left: -1%;
    }
    .main .main-search .s-body .r-s-body{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .main .main-search .s-body .r-s-body .r-s-body-content{
        margin-bottom: 0;
    }
    .main .main-search .s-body .r-s-body .r-s-body-content .rsbc{
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
    }
    .main .main-search .s-body .r-s-body .r-s-body-content .rsbc .rsbc-image {
        width: 40%;
    }
    .main .main-search .s-body .r-s-body .r-s-body-content .rsbc .rsbc-content{
        margin: 5px 0 10px 0;
    }
    .main .main-search .s-body .r-s-body .r-s-body-content .rsbc .rsbc-content h3{
        font-size: 1rem;
    }
    .main .main-search .s-body .r-s-body .r-s-body-content .rsbc .rsbc-content p{
        font-size: 0.8rem;
    }
    
    .main .main-search .s-body .r-s-body .r-s-body-button{
        margin: 0.5rem 0rem 0.5rem;
        width: 100%;
        /* height: 20px; */
    }
    .main .main-search .s-body .r-s-body .r-s-body-button .page{
        width: 20px;
        padding: 10px;
    }
    .main .main-search .s-body .l-s-body .button-filter button{
        width: 70%;
        margin-top: 1rem;
    }
    .main .main-search .s-body .l-s-body .filter .inner {
        width: 50%;
        margin: 5 0 5 0;
      }
}