@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

:root {
  font-family: "Inter", sans-serif;
  --font-header: "Merriweather", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.main {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 120rem;
  display: flex;
  justify-content: center;
}

.main .main-search {
  width: 90%;
  /* background-color: #e1e8f0; */
  position: relative;
}
.main .main-search .s-header {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0.5%;
  left: 5%;
  flex-wrap: wrap;
}

.main .main-search .s-header .header1 {
  width: 100%;
  padding-bottom: 0.5%;
  display: flex;
  align-items: center;
}

.main .main-search .s-header .header1 h1 {
  display: flex;
  display: inline;
  font-size: 1.15rem;
  margin: 0;
}
.main .main-search .s-header .header1 h1 a {
  text-decoration: none;
  color: #262626;
}
.main .main-search .s-header .header1 .sub-header1 {
  display: inline;
}

.main .main-search .s-header .header2 {
  width: 90%;
  padding-bottom: 0.5%;
  font-weight: bold;
  font-family: var(--font-header);
}

.main .main-search .s-header .header2 h1 {
  margin: 0;
}
.main .main-search .s-header .header3 {
  width: 90%;
  padding-top: 0;
}

.main .main-search .s-header .header3 h3 {
  margin: 0;
  font-size: 1.15rem;
}

.main .main-search .s-body {
  display: flex;
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 8%;
  left: 5%;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.main .main-search .s-body .l-s-body {
  width: 17%;
  /* height: 10rem; */
  display: flex;
  flex-wrap: wrap;
  height: 30%;
}
.main .main-search .s-body .l-s-body .l-s-body-header {
  font-size: 1.1rem;
  font-family: var(--font-header);
  margin-left: -1%;
}
.main .main-search .s-body .l-s-body .filter {
  width: 70%;
  /* height: 10rem; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
  position: relative; /* Quan tr·ªçng */
}
.main .main-search .s-body .l-s-body .filter h3 {
  margin: 0 0 10px 0;
  font-size: 1rem;
}

.main .main-search .s-body .l-s-body .filter .inner {
  list-style: none;
  margin: 0;
  padding: 0;
  /* padding-top: 3%; */
  /* height: 100%; */
  width: 100%;
}

.main .main-search .s-body .l-s-body .filter .inner::after{
  content: "";
  display: block; 
  width: 80%; 
  height: 0.1px; 
  background-color: #b8c2ce; 
  bottom: 0; 
  margin-top: 1rem;
}
.main .main-search .s-body .l-s-body .filter .inner .inner-checkbox{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.main .main-search .s-body .l-s-body .filter .inner .inner-checkbox input {
  /* margin-right: 3%;
  margin-left: -0.3%;
  margin-bottom: 5%; */
  width: 1.125rem;
  height: 1.125rem;
  margin: 0;
}
.main .main-search .s-body .l-s-body .filter .inner .inner-checkbox label{
  margin-left: 10px;
}
.main .main-search .s-body .l-s-body .button-filter {
  width: 60%;
  /* margin-top: 5%; */
}
.main .main-search .s-body .l-s-body .button-filter button {
  width: 80%;
  height: 90%;
  padding: 12px 20px 12px 20px;
  background-color: blue;
  border: none;
  border-radius: 0.375rem;
  margin-top: 1rem;
}
.main .main-search .s-body .l-s-body .button-filter button .filter-label {
  font-size: 1rem;
  font-weight: bold !important;
  color: #ffff;
}

.main .main-search .s-body .r-s-body {
  width: 70%;
  height: fit-content;
  margin-left: 2rem;
}
.main .main-search .s-body .r-s-body .feedback {
  margin: 0;
  font-style: italic;
  font-size: 1.125rem;
}
.main .main-search .s-body .r-s-body .r-s-body-content {
  list-style: none;
  padding: 0;
  height: 100%;
}
.main .main-search .s-body .r-s-body .r-s-body-content .rsbc {
  display: flex;
  border-bottom: 0.1rem solid #b8c2ce;
  /* padding-bottom: 3%; */
  height: 10rem;
  margin-bottom: 1rem;
}
.main .main-search .s-body .r-s-body .r-s-body-content .rsbc .rsbc-image {
  width: 20%;
}
.main .main-search .s-body .r-s-body .r-s-body-content .rsbc .rsbc-image img {
  width: 100%;
}

.main .main-search .s-body .r-s-body .r-s-body-content .rsbc .rsbc-content {
  padding-left: 0;
  margin-left: 3%;
  width: 100%;
  text-decoration: none;
}

.main .main-search .s-body .r-s-body .r-s-body-content .rsbc .rsbc-content h3 {
  font-size: 1.25rem;
  margin: 0;
  color: #262626;
}
.main .main-search .s-body .r-s-body .r-s-body-content .rsbc .rsbc-content p {
  font-size: 1rem;
  margin-top: 1%;
  /* margin: 0;   */
  color: black
}

.main .main-search .s-body .r-s-body .r-s-body-button {
  display: flex;
  width: 20%;
  height: 2rem;
  /* justify-content: space-between; */
  margin: 1.5rem 0 2rem 0;
}
.main .main-search .s-body .r-s-body .r-s-body-button .page {
  text-decoration: none;
  width: 20%;
  border: 0.1rem solid #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
}

.main .main-search .mobile-header{
  position: absolute;
  top: 6%;
  width: 100%;
  /* justify-content: space-between; */
}
.main .main-search .mobile-header .filter-header{
  justify-content: space-between;
  display: flex;
  background-color: #b8c2ce;
  align-items: center;
  font-size: 1.125rem;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 0.375rem;
}
.main .main-search .mobile-header .filter-header i{
  padding-right: 10px;
  transition: transform 0.3s ease-in-out;
  transform: translate(-50%,-100%);
}