li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
:root {
    --heading-color: #325172;
    --primary-color: #000;
    --font-heading: "Merriweather", "serif";
}
.header .banner {
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: auto;
    height: 10rem;
    position: relative;
  }
  .banner-logo {
    object-fit: cover;
    margin: 1rem;
    /* width: 50%;
  
    height: auto; */
  }
  .header .fixed {
    position: relative;
  }
  /* =============header============ */
  .nav.scrolled {
    transition: 0.3s;
    padding: 0 3%;
  }
  .nav.scrolled .home {
    display: none;
  }
  .nav.scrolled #backtohome {
    display: block;
  }
  .nav {
    position: fixed;
    background-color: var(--heading-color);
    position: sticky;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    transition: all 0.5s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng ở dưới */
  }
  i {
    color: #fff;
    font-size: 1.6rem;
    margin-right: 3px;
  }
  .dn-text {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    /* margin: 0px 3vw; */
    transition: all 0.5s ease;
    display: block;
  }
  .search i {
    color: var(--heading-color);
    font-size: 1.6rem;
    margin-right: 3px;
  }
  .navbar {
    display: flex;
  }
  .register {
    margin-left: auto;
    display: flex;
    gap: 2vw;
    align-items: center;
  }
  .navbar .category {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 2rem 3vw;
    /* margin: 0px 3vw; */
    transition: all 0.5s ease;
    display: block;
  }
  .navbar .subnav-link {
    color: #000;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 2rem 3vw;
    /* margin: 0px 3vw; */
    transition: all 0.5s ease;
    display: block;
  }
  .navbar a:hover {
    background: var(--heading-color);
    color: #fff;
    text-shadow: 0.3px 0 0 currentColor;
  }
  .subnav {
    display: none;
    position: absolute;
    /* width: 13vw; */
    background-color: rgba(231, 232, 231);
    top: 100%;
  }
  .subnav li {
    border-bottom: 1px solid #ccc; /* Đường kẻ màu xám */
  }
  
  /* Xóa border của mục cuối cùng để không có đường kẻ dưới cùng */
  .subnav li:last-child {
    border-bottom: none;
  }
  
  .main-category:hover .subnav {
    display: block;
  }
  .register a:hover {
    /* color: var(--heading-color); */
    text-shadow: 0.5px 0 0 currentColor;
  }
  .logo {
    top: 0;
    height: 100%;
    max-width: 100%;
  }
  #backtohome {
    display: none;
    position: relative;
    height: 20px;
  }
  .logo {
    height: 100%; /* Chiều cao 100% của phần tử cha */
    width: auto; /* Đảm bảo không bị méo */
    max-height: 100%; /* Không vượt quá cha */
  }
  .search {
    background-color: #fff;
    display: flex;
    padding: 1rem;
    cursor: pointer;
    border-radius: 3rem;
    align-items: center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  }
  .search:hover input {
    width: 15rem;
  }
  .search input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
  }
  #menu-icon {
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 1001;
    display: none;
  }