 :root {
  --font-heading: "Merriweather", "serif";
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-12, .col-lg-6, .col-lg-3 {
  flex: 1 1 auto; /* Cho phép các cột mở rộng theo nội dung */
}

<<<<<<< HEAD
.main-category:hover .subnav {
  display: block;
}
.register a:hover {
  /* color: var(--heading-color); */
  text-shadow: 0.5px 0 0 currentColor;
}
.logo {
  top: 0;
  height: 100%;
  max-width: 100%;
}
#backtohome {
  display: none;
  position: relative;
  height: 20px;
}
.logo {
  height: 100%; /* Chiều cao 100% của phần tử cha */
  width: auto; /* Đảm bảo không bị méo */
  max-height: 100%; /* Không vượt quá cha */
}
.search {
  background-color: #fff;
  display: flex;
  padding: 1rem;
  cursor: pointer;
  border-radius: 3rem;
  align-items: center;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}
.search:hover input {
  width: 15rem;
}
.search input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}
#menu-icon {
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 1001;
  display: none;
}

..row {
  display: flex;
  flex: 1;
  flex-wrap: wrap; /* Cho phép các ô xuống dòng khi không đủ chỗ */
}

.col-12,
.col-lg-6,
.col-lg-3 {
  display: flex; /* Sử dụng flexbox cho các cột */
}

.news-item,
.slideshow-container {
=======
.container {
  margin: 20px 0;
  max-width: none; /* Loại bỏ giới hạn chiều rộng tối đa */
  width: 100%; /* Cho phép container mở rộng toàn bộ chiều rộng */
}


.news-item, .slideshow-container {
>>>>>>> f6b4d6be1cc0f78e71e1237a57dcf9108079f8f7
  flex: 1; /* Các ô sẽ chia đều không gian và có chiều cao bằng nhau */
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
<<<<<<< HEAD
  height: 350px;
=======
  height: 450px;
>>>>>>> f6b4d6be1cc0f78e71e1237a57dcf9108079f8f7
}

/* Slider container */
.slider {
  position: relative;
  width: 100%;
<<<<<<< HEAD
  height: 350px;
=======
  height: 450px;
>>>>>>> f6b4d6be1cc0f78e71e1237a57dcf9108079f8f7
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  position: relative;
}

.slide img {
  width: 100%;
<<<<<<< HEAD
  height: 350px;
=======
  height: 450px;
>>>>>>> f6b4d6be1cc0f78e71e1237a57dcf9108079f8f7
  object-fit: cover;
}

.caption {
<<<<<<< HEAD
=======
  font-family: var(--font-heading);
>>>>>>> f6b4d6be1cc0f78e71e1237a57dcf9108079f8f7
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px;
<<<<<<< HEAD
  font-size: 12px;
=======
  font-size: 20px;
>>>>>>> f6b4d6be1cc0f78e71e1237a57dcf9108079f8f7
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Giới hạn tối đa 2 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Nút điều hướng */
<<<<<<< HEAD
.prev,
.next {
=======
.prev, .next {
>>>>>>> f6b4d6be1cc0f78e71e1237a57dcf9108079f8f7
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  transition: 0.3s;
}

<<<<<<< HEAD
.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}
=======
.prev:hover, .next:hover {
  background: rgba(0, 0, 0, 0.8);
}

.prev { left: 10px; }
.next { right: 10px; }
>>>>>>> f6b4d6be1cc0f78e71e1237a57dcf9108079f8f7

/* Chấm tròn điều hướng */
.dots {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
  cursor: pointer;
}

<<<<<<< HEAD
.active,
.dot:hover {
  background-color: white;
}

=======
.active, .dot:hover {
  background-color: white;
}


>>>>>>> f6b4d6be1cc0f78e71e1237a57dcf9108079f8f7
.news-item {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 15px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.news-item:hover {
  transform: translateY(-5px);
}

.news-item img {
  width: 100%;
<<<<<<< HEAD
  height: 180px;
=======
  height: 180px; 
>>>>>>> f6b4d6be1cc0f78e71e1237a57dcf9108079f8f7
  object-fit: cover;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.news-item h2 {
<<<<<<< HEAD
=======
  font-family: var(--font-heading);
>>>>>>> f6b4d6be1cc0f78e71e1237a57dcf9108079f8f7
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Giới hạn tối đa 2 dòng */
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-item p {
<<<<<<< HEAD
=======
  font-family: var(--font-heading);
>>>>>>> f6b4d6be1cc0f78e71e1237a57dcf9108079f8f7
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Giới hạn tối đa 3 dòng */
  overflow: hidden;
  text-overflow: ellipsis;
}

<<<<<<< HEAD
.slider-1 {
  width: 100%;
  height: 350px;
=======

.slider-1 {
  width: 100%;
  height: 450px;
>>>>>>> f6b4d6be1cc0f78e71e1237a57dcf9108079f8f7
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.slides-1 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-1 {
  min-width: 100%;
  position: relative;
}

.slide-1 img {
  width: 100%;
<<<<<<< HEAD
  height: 350px;
  object-fit: cover;
}
=======
  height: 450px;
  object-fit: cover;
}

.news-item h2, .news-item p, .caption {
  text-align: left;
}
>>>>>>> f6b4d6be1cc0f78e71e1237a57dcf9108079f8f7
